// ===== fonts ======================
$helvetica: "Helvetica Neue";
$hiragino-pro: "ヒラギノ角ゴ Pro";
$hiragino-pron: "ヒラギノ角ゴ ProN";
$cormorant: "Cormorant Garamond";
$open-sans: "Open Sans";

// ===== colors ============
$title-bl: #029ae2;
$light-bl: #30d0ed; //title-logo & contact-back
$blue: #019bdf;
$title-noise: #6ab9df;
$service-p: #149fe0;
$white: #fff;
$news-back: #edfcff;
$black: #333;
$service-box: #e8e8e8;
$news-border: #93deff;