@import "_reset";

@import "_config";

#header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-title {
    color: $title-bl;
    font-family: $helvetica;
    font-size: 28px;
    letter-spacing: 0.01em;
    padding: 26px;

    span {
        color: $light-bl;
    }
}

.header-ul {
    display: flex;
    float: right;
    padding: 33px;
    margin-left: 15vw;
}

.nav-items {
    font-size: 14px;
    font-family: $hiragino-pro;
    line-height: 1.85;
    letter-spacing: 0.05px;
}

.nav-items:nth-child(n+2) {
    margin-left: 49px;
}

.contact-btn {
    background-color: $light-bl;
    font-family: $hiragino-pro;
    color: $white;
    float: right;
    clear: both;
    font-size: 16px;
    padding: 32px 49px 32px 50px;
}

// ======= headline ===============================

#headline-sec {
    clear: both;
    background-image: url(../images/top.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    text-align: center;
    padding-top: 151px;
    color: $white;
    text-shadow: 0 0 10px rgba(106, 186, 223, 0.69);


    h1 {
        font-size: 140px;
        margin-bottom: 40px;
        font-family: $cormorant;
        line-height: 0.8;
    }

    p {
        font-size: 25px;
        font-family: $hiragino-pron;
        line-height: 1.44;
    }
}

// ======= news =================================

.news-sec {
    background-color: $news-back;
    padding: 56px 0 63px 0;
}

.news-wrapper {
    display: flex;
    justify-content: center;
    width: 85vw;
    margin: 0 auto;
}

.news-left-title {
    margin-right: 41px;

    p {
        color: $black;
        font-size: 12px;
        margin-top: 16px;
        letter-spacing: 0.075em;
    }

    p::after {
        content: " > ";
    }
}

.sec-title-blue {
    font-size: 40px;
    color: $blue;
    letter-spacing: 0.025em;
}

.news-list {
    margin-top: 3px;
}

.news-list-item {
    display: flex;
    border-bottom: 1px solid $news-border;
    padding-right: 28px;
    padding-top: 13px;
    padding-bottom: 15px;
}

.news-date {
    font-size: 13px;
    color: $black;
    padding-top: 4px;
    letter-spacing: 0.075em;
}

.news-cat {
    font-size: 10px;
    color: $white;
    background-color: $blue;
    margin-left: 29px;
    margin-right: 34px;
    width: 80px;
    height: 14px;
    text-align: center;
    padding-top: 4px;
    letter-spacing: 0.075em;
}

.news-title {
    font-size: 13px;
    color: $black;
    letter-spacing: 0.075em;
    padding-top: 4px;
}

// ==============  service =====================

.service-title {
    text-align: center;
    margin-top: 77px;
    letter-spacing: 0.025em;

    p {
        color: $service-p;
        margin-top: 13px;
        letter-spacing: 0.075em;
    }
}

.service-list-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 95vw;
    max-width: 1000px;
    margin: 18px auto 0 auto;
}

.service-list {
    background-color: $service-box;
    width: 300px;
    height: 100px;
}